:root {
  --background-color1: #2a2a2a;
  --background-color2: #3a3a3a;
  --background-color3: #4a4a4a;
  --background-color4: #5a5a5a;

  --color1: #9f9f9f;
  --color2: #c9c9c9;
  --color3: #e0e0ef;
  --color4: #f0f0ff;

  --lightgrey: lightgrey;
  --grey: grey;

  --height: 100vh;
  --width: 100vw;

  --line: #797979;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  color: var(--color2);
  height: var(--height);
  gap: 10px;

  .link {
    color: var(--color1);
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: var(--color4);
    }
  }

  .whole-page-loader {
    width: var(--width);
    height: calc(var(--height) * 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Register, Login
  .register,
  .login {
    width: var(--width);
    height: calc(9 * var(--height) / 10 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
      h2 {
        padding: 0px 0px 20px;
      }
      background-color: var(--background-color2);
      color: var(--color1);
      width: calc(0.9 * var(--width));
      max-width: 350px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      gap: 15px;
      box-shadow: inset 0px 0px 3px;

      input {
        background-color: transparent;
        color: var(--color1);
        border: 1px solid var(--line);
        outline: none;
        padding: 10px;
        &:hover,
        &:focus {
          background-color: var(--background-color3);
          border: 1px solid var(--color1);
        }
      }
      .error-message {
        font-size: 12px;
        min-height: 15px;
        color: red;
      }
      button {
        height: 30px;
        cursor: pointer;
      }
      .link {
        font-size: 14px;
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
      .divider {
        display: flex;
        align-items: center;
        .hr {
          padding: 0px 5px;
          flex: 1;
          width: 100px;
        }
      }
      p {
        font-size: 14px;
        text-align: center;
      }
      .auth-other {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .auth-img {
          border-radius: 50%;
          padding: 2px;
          width: 30px;
          background-color: white;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 5px var(--color4);
          }
        }
      }
    }
  }

  // Header
  .header {
    background-color: var(--background-color2);
    height: calc(var(--height) / 10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .header-left {
      display: flex;
      align-items: center;
      gap: 20px;

      .logo {
        width: 30px;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 10px;

      .link {
        font-size: small;
      }
      small {
        color: var(--color1);
        font-size: 12px;
      }

      .header-profile {
        img {
          cursor: pointer;
          border-radius: 50%;
        }
      }

      .theme-icon {
        background-color: var(--background-color3);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;

        img {
          width: 20px;
          border-radius: 50%;
        }
      }
      .light:hover,
      .dark:hover {
        &::after {
          background-color: var(--background-color3);
          width: max-content;
          position: absolute;
          top: 35px;
          font-size: xx-small;
          padding: 5px;
          border-radius: 5px;
        }
      }

      .light:hover {
        &::after {
          content: "Light Mode";
        }
      }
      .dark:hover {
        &::after {
          content: "Dark Mode";
        }
      }
    }
  }

  // Problems
  .problems {
    width: var(--width);
    // max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .p-head {
      color: var(--color1);
      &:hover {
        cursor: pointer;
        color: var(--color3);
      }
    }

    .p-status,
    .p-difficulty {
      flex: 1;
      overflow: hidden;
    }
    .p-title {
      flex: 5;
      overflow: hidden;
    }

    .p-head-row {
      width: calc(0.9 * var(--width));
      max-width: 600px;
      height: 40px;
      padding: 10px;
      display: flex;
      gap: 20px;

      & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;

        img {
          width: 12px;
        }
      }
    }

    .p-row {
      &:nth-of-type(2n-1) {
        background-color: var(--background-color3);
      }
      &:nth-of-type(2n) {
        background-color: var(--background-color2);
      }
      width: calc(0.9 * var(--width));
      max-width: 600px;
      height: 50px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid transparent;
      // border-radius: 10px;
      transition: 0.2s;

      &:hover {
        border: 1px solid var(--line);
      }
      .p-status {
        text-align: center;
        img {
          width: 20px;
        }
      }
      .p-title {
        color: var(--color4);
      }
      .Hard,
      .Medium,
      .Easy {
        font-size: 14px;
        font-weight: bold;
      }
      .Hard {
        color: #e63636;
      }
      .Medium {
        color: #ce9911;
      }
      .Easy {
        color: #18b618;
      }
    }
  }

  // Solving Page
  .solve {
    padding: 0px 10px;
    display: flex;
    width: var(--width);
    height: calc(9 * var(--height) / 10 - 20px);

    .gutter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--color1);
      align-items: center;

      &::after {
        content: "|";
        font-size: xx-large;
        padding: 0px;
        margin: 0px;
        border-radius: 20%;
      }

      &:hover,
      &:active {
        color: var(--color4);
        cursor: ew-resize;
      }
    }

    .question-output-split {
      height: calc(9 * var(--height) / 10 - 20px);
      .gutter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color1);
        align-items: center;

        &::after {
          content: "|";
          font-size: xx-large;
          padding: 0px;
          margin: 0px;
          transform: rotate(90deg);
        }

        &:hover,
        &:active {
          color: var(--color4);
          cursor: ns-resize;
        }
      }

      .question {
        background-color: var(--background-color2);
        // transition: 0.2s;
        display: flex;
        flex-direction: column;
        padding: 20px 40px 50px 20px;
        gap: 40px;
        overflow: auto;
        border-radius: 5px;
        box-shadow: inset 0px 0px 3px;

        // & --> parent
        &::-webkit-scrollbar {
          width: 0px;
        }

        .q-head {
          .q-title {
            color: var(--color4);
            padding: 5px;
          }
          small {
            font-size: 11px;
            font-weight: bold;
            border-radius: 5px;
            margin: 0px 10px;
            border: 1px solid;
            padding: 3px 5px;
          }
          .Hard {
            color: #e63636;
          }
          .Medium,
          .Unsolved {
            color: #ce9911;
          }
          .Easy,
          .Solved {
            color: #18b618;
          }
        }

        .q-question {
          text-align: justify;
          font-size: 14px;
        }
        .example {
          // color: ;
          dl {
            color: var(--color2);
            font-size: 14px;
            strong {
              color: var(--color3);
            }
          }
        }
        img {
          width: 200px;
        }
        .constraints {
          color: var(--color2);
          font-size: 14px;
        }
        .blur {
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          small {
            color: var(--background-color3);
            filter: blur(4px);
            padding: 5px;
            border: 1px solid var(--color1);
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              color: inherit;
              filter: none;
            }
          }
        }
      }

      .testcase-output {
        background-color: var(--background-color2);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        border-radius: 5px;
        padding: 12px 20px;
        box-shadow: inset 0px 0px 3px;

        &::-webkit-scrollbar {
          width: 0px;
        }
        // &::-webkit-scrollbar-thumb {
        //   background-color: var(--background-color4);
        //   border-radius: 10px;
        // }
        .t-o-header {
          position: relative;
          background-color: inherit;
          display: flex;
          align-items: center;
          gap: 10px;
          .tab {
            color: var(--color1);
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
              background-color: var(--background-color3);
            }
          }
          .selected {
            background-color: var(--background-color4) !important;
            color: var(--color4);
          }
          img {
            position: absolute;
            right: 0px;
            justify-self: right;
            padding: 0px 2px;
            height: 20px;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
              background-color: var(--background-color4);
            }
          }
          .rotate {
            transform: rotate(180deg);
          }
        }

        .t-o-container {
          flex: 1;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 0px;
          }

          .cases-header {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;

            .case {
              width: 100px;
              color: var(--color1);
              position: relative;
              display: flex;
              justify-content: center;
              flex: 1;
              padding: 10px;
              border-radius: 5px;
              cursor: pointer;
              &:hover {
                color: var(--color2);
              }
            }
            .selected {
              background-color: var(--background-color3) !important;
              color: var(--color2);
            }
            .correct {
              padding: 0px 10px;
              color: rgb(18, 190, 18) !important;
            }
            .wrong {
              padding: 0px 10px;
              color: red !important;
            }
          }
          .cases-body {
            background-color: var(--background-color3);
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border-radius: 5px;

            div {
              background-color: var(--background-color4);
              padding: 10px;
              border-radius: 5px;
            }
          }
        }
        .terminal {
          white-space: pre;
          font-size: 14px;
          padding: 10px;
          color: white;
          background-color: black;
        }
      }
    }

    .codebox {
      position: relative;
      background-color: var(--background-color2);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 5px 5px;
      box-shadow: inset 0px 0px 3px;

      .codebox-header {
        display: flex;
        padding: 5px 20px;

        .codebox-lang-select {
          background-color: var(--background-color4);
          color: var(--color4);
          padding: 5px;
          border: none;
          border-radius: 5px;
          outline: none;
          cursor: pointer;

          .codebox-lang-option {
            // background-color: white;
            font-size: smaller;
          }
        }
      }

      .editorrr {
        box-sizing: border-box;

        .margin {
          .margin-view-overlays {
            .line-numbers {
              font-size: 12px;
            }
          }
        }
        .minimap {
          display: none;
        }
      }

      .codebox-footer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: flex;
        padding: 10px 25px;
        gap: 20px;
        flex-direction: row-reverse;

        button {
          border: none;
          outline: none;
          cursor: pointer;
          padding: 10px 15px;
          border-radius: 5px;
        }
        .submit {
          background-color: teal;
          color: white;

          &:hover {
            background-color: #008e8e;
          }
        }
        .run {
          background-color: var(--background-color3);
          color: var(--color4);
          border: 1px solid var(--color1);

          &:hover {
            background-color: var(--background-color2);
          }
        }
        .disabled-cursor {
          display: flex;
          justify-content: center;
          position: relative;

          &:hover::after {
            background-color: var(--background-color3);
            color: var(--color2);
            content: "Login Required";
            position: absolute;
            width: max-content;
            top: -35px;
            font-size: xx-small;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  // LeaderBoard
  .leaderboard {
    flex: 1;
    background-color: var(--background-color2);
    border-radius: 5px;
    margin: 0px 10px 10px;
    position: relative;
    h2 {
      text-align: center;
      padding: 10px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px;
      height: calc(var(--height) * 0.78);
      overflow: auto;
      padding-top: 90px;
      &::-webkit-scrollbar {
        display: none;
      }

      .user {
        background-color: var(--background-color3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        max-width: 500px;
        // border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 15px 30px;

        & > div,
        .user-info > div {
          display: flex;
          flex-direction: column;
          gap: 10px;

          small {
            font-size: 12px;
          }
        }

        .user-info {
          display: flex;
          flex-direction: row;
          align-items: center;

          .user-pic {
            background-color: var(--background-color2);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            // border: 1px solid lightgrey;
          }

          .user-name {
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
      .highlight {
        position: absolute;
        box-shadow: inset 0px 0px 5px;
        top: 56px;
      }
    }
  }
}

// copied
.loader {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled-cursor {
  cursor: not-allowed !important;
}

// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgb(183, 183, 183);
// }
