@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --background-color1: #2a2a2a;
  --background-color2: #3a3a3a;
  --background-color3: #4a4a4a;
  --background-color4: #5a5a5a;

  --color1: #9f9f9f;
  --color2: #c9c9c9;
  --color3: #e0e0ef;
  --color4: #f0f0ff;

  --lightgrey: lightgrey;
  --grey: grey;

  --height: 100vh;
  --width: 100vw;

  --header-height: 60px;

  --line: #797979;
  --code-font-family: "JetBrains Mono", monospace;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.app {
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  color: var(--color2);
  height: var(--height);
  gap: 10px;

  .link {
    color: var(--color1);
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: var(--color4);
    }
  }

  .whole-page-loader {
    width: var(--width);
    height: calc(var(--height) * 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Register, Login
  .register,
  .login {
    width: var(--width);
    height: calc(9 * var(--height) / 10 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      background-color: var(--background-color2);
      color: var(--color1);
      width: calc(0.9 * var(--width));
      max-width: 350px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      gap: 10px;
      box-shadow: inset 0px 0px 3px;

      input {
        background-color: transparent;
        color: var(--color1);
        border: 1px solid var(--line);
        outline: none;
        padding: 10px;
        &:hover,
        &:focus {
          background-color: var(--background-color3);
          border: 1px solid var(--color1);
        }
      }
      .error-message {
        font-size: 12px;
        min-height: 15px;
        color: red;
      }
      button {
        height: 30px;
        cursor: pointer;
      }
      .link {
        font-size: 14px;
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
      .divider {
        display: flex;
        align-items: center;
        .hr {
          padding: 0px 5px;
          flex: 1;
          width: 100px;
        }
      }
      p {
        font-size: 14px;
        text-align: center;
      }
      .auth-other {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .auth-img {
          border-radius: 50%;
          padding: 2px;
          width: 30px;
          background-color: white;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 5px var(--color4);
          }
        }
      }
    }
  }

  // Header
  .header {
    background-color: var(--background-color2);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

    .header-left {
      display: flex;
      align-items: center;
      gap: 20px;
      .nav {
        padding: 5px 10px;
        transition: 200ms;
        height: fit-content;
        border-radius: 10px;
      }
      .selected {
        background-color: var(--background-color3);
      }
      .logo {
        height: 50px;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 20px;

      .link {
        font-size: small;
      }
      small {
        color: var(--color1);
        font-size: 12px;
      }

      .auth-tab {
        background-color: var(--background-color3);
        align-items: center;
        display: flex;
        gap: 5px;
        height: 45px;
        padding: 5px 10px;
        border-radius: 10px;

        span {
          color: var(--color1);
        }
      }

      .header-profile {
        .profile-pic {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color2);
          img {
            width: 30px;
            cursor: pointer;
            border-radius: 50%;
          }
          &:hover::after {
            z-index: 1;
            top: 55px;
            font-size: x-small;
            content: "Profile";
          }
        }
        span {
          font-size: small;
          cursor: pointer;
          &:hover {
            text-decoration: 1px underline;
          }
        }
      }

      .theme-icon {
        background-color: var(--background-color3);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;

        img {
          width: 20px;
          border-radius: 50%;
        }
      }

      .profile-pic:hover,
      .light:hover,
      .dark:hover {
        &::after {
          background-color: var(--background-color3);
          width: max-content;
          position: absolute;
          font-size: x-small;
          border-radius: 5px;
          padding: 5px;
          z-index: 2;
          top: 40px;
        }
      }

      .light:hover::after {
        content: "Light Mode";
      }
      .dark:hover::after {
        content: "Dark Mode";
      }
    }
  }

  // Problems
  .problems {
    width: var(--width);
    height: calc(var(--height) - var(--header-height) - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .p-head {
      color: var(--color1);
      &:hover {
        cursor: pointer;
        color: var(--color3);
      }
    }

    .p-status,
    .p-difficulty {
      flex: 1;
      overflow: hidden;
    }
    .p-title {
      flex: 5;
      overflow: hidden;
    }

    .p-head-row {
      width: calc(0.9 * var(--width));
      max-width: 600px;
      height: 40px;
      padding: 10px;
      display: flex;
      gap: 20px;

      & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;

        img {
          width: 12px;
        }
      }
    }

    .p-row {
      &:nth-of-type(2n-1) {
        background-color: var(--background-color3);
      }
      &:nth-of-type(2n) {
        background-color: var(--background-color2);
      }
      width: calc(0.9 * var(--width));
      max-width: 600px;
      height: 50px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid transparent;
      // border-radius: 10px;
      transition: 0.2s;

      &:hover {
        border: 1px solid var(--line);
      }
      .p-status {
        text-align: center;
        img {
          width: 20px;
        }
      }
      .p-title {
        color: var(--color4);
      }
      .Hard,
      .Medium,
      .Easy {
        font-size: 14px;
        font-weight: bold;
      }
      .Hard {
        color: #e63636;
      }
      .Medium {
        color: #ce9911;
      }
      .Easy {
        color: #18b618;
      }
    }
  }

  // Solving Page
  .solve {
    padding: 0px 10px;
    display: flex;
    width: var(--width);
    height: calc(var(--height) - var(--header-height) - 20px);
    // flex: 1;

    .gutter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--color1);
      align-items: center;

      &::after {
        content: "|";
        font-size: xx-large;
        padding: 0px;
        margin: 0px;
        border-radius: 20%;
      }

      &:hover,
      &:active {
        color: var(--color4);
        cursor: ew-resize;
      }
    }

    .question-output-split {
      height: calc(var(--height) - var(--header-height) - 20px);
      .gutter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color1);
        align-items: center;

        &::after {
          content: "|";
          font-size: xx-large;
          padding: 0px;
          margin: 0px;
          transform: rotate(90deg);
        }

        &:hover,
        &:active {
          color: var(--color4);
          cursor: ns-resize;
        }
      }

      .question {
        background-color: var(--background-color2);
        // transition: 0.2s;
        display: flex;
        flex-direction: column;
        padding: 20px 40px 50px 20px;
        gap: 30px;
        overflow: auto;
        border-radius: 10px;
        box-shadow: inset 0px 0px 1px var(--line);

        // & --> parent
        &::-webkit-scrollbar {
          width: 0px;
        }

        .q-head {
          .q-title {
            color: var(--color4);
            padding: 5px;
          }
          small {
            font-size: 11px;
            font-weight: bold;
            border-radius: 5px;
            margin: 0px 10px;
            border: 1px solid;
            padding: 3px 5px;
          }
          .Hard {
            color: #e63636;
          }
          .Medium,
          .Unsolved {
            color: #ce9911;
          }
          .Easy,
          .Solved {
            color: #18b618;
          }
        }
        .q-question {
          // text-indent: 20px;
          white-space: pre-line;
          text-align: justify;
          font-size: 14px;
          p {
            text-indent: 25px;
            padding-bottom: 10px;
          }
        }
        h5 {
          color: var(--color3);
          padding-bottom: 10px;
        }
        .example {
          dl {
            * {
              font-family: monospacevar(--code-font-family);
            }
            padding-bottom: 5px;
            color: var(--color2);
            font-size: 14px;
            strong {
              color: var(--color3);
            }
          }
        }
        img {
          width: 200px;
        }
        .constraints {
          color: var(--color2);
          font-size: 13px;
          li {
            padding-bottom: 5px;
          }
        }
        .blur {
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          color: var(--color1);
          gap: 10px;
          filter: blur(5px);

          small {
            font-size: x-small;
            padding: 5px;
            border: 1px solid var(--color1);
            border-radius: 5px;
            cursor: pointer;
          }
          &:hover {
            transition: 0.6s;
            color: inherit;
            filter: none;
          }
        }
      }

      .testcase-output {
        background-color: var(--background-color2);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        padding: 12px 20px;
        border-radius: 10px;
        box-shadow: inset 0px 0px 1px var(--line);

        .loader {
          position: static;
        }
        &::-webkit-scrollbar {
          width: 0px;
        }
        .t-o-header {
          position: relative;
          background-color: inherit;
          display: flex;
          align-items: center;
          gap: 10px;
          .tab {
            color: var(--color1);
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
            transition: 0.1s;
            cursor: pointer;
            &:hover {
              background-color: var(--background-color3);
            }
          }
          .selected {
            background-color: var(--background-color4) !important;
            color: var(--color4);
          }
          img {
            position: absolute;
            right: 0px;
            justify-self: right;
            padding: 0px 2px;
            height: 20px;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
              background-color: var(--background-color4);
            }
          }
          .rotate {
            transform: rotate(180deg);
          }
        }
        .t-o-container {
          flex: 1;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 0px;
          }

          .cases-header {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;

            .case {
              width: 100px;
              color: var(--color1);
              position: relative;
              display: flex;
              justify-content: center;
              flex: 1;
              padding: 10px;
              border-radius: 5px;
              cursor: pointer;
              &:hover {
                color: var(--color2);
              }
            }
            .selected {
              background-color: var(--background-color3) !important;
              color: var(--color2);
            }
            .correct {
              padding: 0px 10px;
              color: rgb(18, 190, 18) !important;
            }
            .wrong {
              padding: 0px 10px;
              color: red !important;
            }
          }
          .cases-body {
            // background-color: var(--background-color3);
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border-radius: 5px;

            div {
              background-color: var(--background-color4);
              font-family: var(--code-font-family);
              padding: 10px;
              border-radius: 5px;
            }
          }
        }
        .terminal {
          font-family: var(--code-font-family);
          white-space: pre-line;
          font-size: 14px;
          padding: 10px;
          color: white;
          background-color: black;
        }
      }
    }

    .codebox {
      // * {
      // font-family: monospacevar(--code-font-family);
      // }
      position: relative;
      background-color: #1e1e1e;
      background-color: var(--background-color2);
      display: flex;
      flex-direction: column;
      padding: 0px 5px 5px;
      border-radius: 10px;
      box-shadow: inset 0px 0px 1px var(--line);

      .codebox-header {
        height: 45px;
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        .codebox-header-left {
          display: flex;
          align-items: center;

          .codebox-lang-select {
            background-color: var(--background-color3);
            color: var(--color4);
            padding: 6px 10px;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;

            .codebox-lang-option {
              font-size: smaller;
            }
          }
        }

        .codebox-header-right {
          display: flex;
          align-items: center;

          .refresh {
            color: var(--color1);
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;
            &:hover {
              color: var(--color4);
            }
          }
        }
      }

      .editorrr {
        box-sizing: border-box;

        .margin {
          .margin-view-overlays {
            .line-numbers {
              font-size: 12px;
            }
          }
        }
        .view-lines {
          * {
            font-family: var(--code-font-family);
          }
        }
        .minimap {
          display: none;
        }
      }

      .codebox-footer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: flex;
        padding: 10px 25px;
        gap: 20px;
        flex-direction: row-reverse;

        button {
          border: none;
          outline: none;
          cursor: pointer;
          padding: 10px 15px;
          border-radius: 5px;
        }
        .submit {
          background-color: teal;
          color: white;

          &:hover {
            background-color: #008e8e;
          }
        }
        .run {
          background-color: var(--background-color3);
          color: var(--color4);
          border: 1px solid var(--color1);

          &:hover {
            background-color: var(--background-color2);
          }
        }
        .disabled-cursor {
          display: flex;
          justify-content: center;
          position: relative;

          &:hover::after {
            background-color: var(--background-color3);
            color: var(--color2);
            content: "Login Required";
            position: absolute;
            width: max-content;
            top: -35px;
            font-size: xx-small;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .red {
    --submission-color: #d62828;
    --submission-shadow-color: #7e1313;
  }
  .green {
    --submission-color: green;
    --submission-shadow-color: #199319;
  }
  .submission-tab {
    display: flex;
    width: var(--width);
    height: calc(var(--height) - var(--header-height) - 20px);
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    .submission {
      position: relative;
      background-color: var(--background-color2);
      max-width: var(--width);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 5px var(--submission-shadow-color);
      overflow: auto;
      text-align: justify;
      .hide-submission {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        top: 5px;
        right: 15px;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--color1);
      }
      &::-webkit-scrollbar-track {
        margin: 5px;
      }
      h1 {
        text-align: center;
        color: var(--submission-color);
      }
      .result {
        width: auto;
        max-width: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        div {
          background-color: var(--background-color1);
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px;
          border-radius: 5px;
        }
      }
      .points {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        strong {
          font-family: var(--code-font-family);
          font-size: 50px;
        }
        span {
          font-size: 20px;
        }
        small {
          font-size: 11px;
        }
      }
    }
  }

  // LeaderBoard
  .leaderboard {
    flex: 1;
    background-color: var(--background-color2);
    border-radius: 5px;
    margin: 0px 10px 10px;
    position: relative;
    overflow: auto;
    h2 {
      text-align: center;
      padding: 10px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px;
      height: calc(var(--height) - var(--header-height) - 20px);
      overflow: auto;
      padding-top: 90px;
      &::-webkit-scrollbar {
        display: none;
      }

      .user {
        background-color: var(--background-color3);
        display: flex;
        align-items: center;
        gap: 50px;
        width: 85%;
        max-width: 500px;
        border-radius: 10px;
        padding: 15px 30px;

        & > div,
        .user-info > div {
          display: flex;
          flex-direction: column;
          gap: 10px;

          small {
            font-size: 12px;
          }
        }

        .user-info {
          overflow: hidden;
          flex: 1;
          display: flex;
          flex-direction: row;
          align-items: center;

          .user-pic {
            background-color: var(--background-color2);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            // border: 1px solid lightgrey;
          }

          .user-name {
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
      .highlight {
        position: absolute;
        box-shadow: inset 0px 0px 5px;
        top: 56px;
      }
    }
  }

  .profile {
    background-color: var(--background-color2);
    width: 100%;
    height: calc(var(--height) - var(--header-height) - 20px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow: auto;

    .edit {
      width: 30px;
      position: absolute;
      right: -10px;
      top: -10px;
    }
    hr {
      border-color: var(--background-color1);
      margin: 10px;
      width: 100%;
    }
    .p-div1 {
      // background-color: var(--background-color4);
      position: relative;
      width: 100%;
      max-width: 300px;
      // height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px;
      border-radius: 10px;
      .profile-pic {
        width: 100px;
        border-radius: 10px;
      }
      .username {
        font-family: "JetBrains Mono", monospace;
        color: var(--color4);
      }
      .social-accounts {
        display: flex;
        gap: 15px;
        a {
          color: var(--color1) !important;
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          font-size: small;
          img {
            width: 20px;
          }
        }
      }
    }
    .p-div2 {
      background-color: var(--background-color3);
      min-width: 60%;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      border-radius: 10px;
      .stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        & > .stats-div {
          background-color: var(--background-color2);
          flex: 1;
          padding: 20px 10px;
          border-radius: 10px;
          min-width: 250px;
          max-width: 80%;
        }
        .total-points,
        .solved,
        .accuracy {
          text-align: center;
          h3 {
            font-size: 30px;
            color: var(--color4);
          }
        }
        .solved-e-m-h {
          // box-shadow: inset 0px 0px 3px var(--color4);
          display: flex;
          justify-content: space-evenly;
          min-width: 50%;
          gap: 10px;
          .easy {
            --background: #2a9d8f;
          }
          .medium {
            --background: #e1a306;
          }
          .hard {
            --background: #d62828;
          }
          .easy,
          .medium,
          .hard {
            text-align: center;
            color: var(--background);
            flex: 1;
            border-radius: 50%;
            max-width: 100px;
            .progressBar {
              border-radius: 50%;
              box-shadow: inset 0px 0px 10px var(--color4);
              .difficulty-hard > strong {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .landing-page {
    height: calc(var(--height) - var(--header-height) - 20px);
    overflow: auto;
    .wellcome {
      min-height: calc(9 * var(--height) / 10);
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px 30px;
      .title-slogan {
        --color: #01875f;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 350px;
        .link {
          width: max-content;
        }
        .slogan {
          height: 60px;
          strong {
            color: var(--color4);
          }
        }
        .button {
          color: var(--color);
          padding: 10px 20px;
          border: 2px solid var(--color);
          border-radius: 5px;
          width: fit-content;
          &:hover {
            color: white;
            background-color: var(--color);
          }
        }
      }
      @keyframes translateY {
        0% {
          translate: 0px -10px;
        }
        100% {
          translate: 0px -10px;
        }
        50% {
          translate: 0px 10px;
        }
      }
      .landing-img {
        width: 350px;
        display: flex;
        justify-content: center;
        animation: translateY 5s infinite;
        transition: 6s ease-in-out;
        img {
          width: 80%;
        }
      }
    }
    .why-codeverse {
      background-color: var(--background-color2);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 80px 20px;
      h2 {
        background-color: var(--background-color1);
        padding: 20px;
        top: -30px;
        border-radius: 20px;
        position: absolute;
      }
      & > div {
        height: auto;
        min-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
        &:hover {
          background-color: var(--background-color4);
        }
        & > * {
          max-width: 300px;
        }
        p {
          color: var(--color4);
          text-align: center;
        }
        .imgs {
          display: flex;
          justify-content: center;
          img {
            width: 60px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 10px 30px;
    .social-media {
      display: flex;
      gap: 20px;
      img {
        cursor: pointer;
      }
    }
  }
}

.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.monospace {
  font-family: var(--code-font-family);
}

.scrollable {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color1);
  }
}

// copied

.loader {
  z-index: 5;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid var(--color4);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.disabled-a {
  pointer-events: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled-cursor {
  cursor: not-allowed !important;
}
